body{
margin: 10px;
padding: 0;
background: #922247;
font-family: quatro;
}

.header h1{
  position: relative;
  margin-left: 30px;
  margin-top: 100px;
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
  text-decoration: underline;
}
.header p{
  position: relative;
  margin-left: 30px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.header img{
  position: relative;
  float: right;
  width: 100px;
  height: 125px;
  padding-right: 50px;
}
.grid{
  display: grid;
  height: 1000px;
  width: auto;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  margin-top: 100px;
}

.box{
  background-color: white;
  color: black;
  border: 1px black solid;

}

.box h2{
  text-align: center;
  color: Black;
  font-size: 25px;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  padding: 10px;


}
.box p{
  font-size: 20px;
}
.review h2{
  text-align: center;
  color: black;
  font-size: 25px;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  padding: 10px;

}
.review{
  display: grid;

}
.review label{
  display: block;
}
.review p{
  margin: 2;
}

.review button, .review input, .review textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #FEBD18;
}
