body{
margin: 10px;
padding: 0;
background: #922247;
font-family: quatro;

}

.header h1{
  position: relative;
  margin-left: 30px;
  margin-top: 50px;
  color: white;
  text-align: left;
  font-size: 50px;
  font-weight: 700;
}
.header h2{
  text-align: right;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.header p{
  position: relative;
  margin-left: 40px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  margin-top: -20px;
}

.header img{
  text-align: right;
  float: right;
  width: 100px;
  height: 125px;
  padding-right: 50px;
  margin-top: -10px;
}

/* table with read data  */
.section th{
  font-family: quatro;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  color: white;
}

.section td {
  color: white;
  tect-align: center;
}
.section table {
  overflow-x: auto;
}


/* OUTER GRID */

.grid{
  display: grid;
  height: 1000px;
  width: auto;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 40% 60%;

}

.section h2{
  text-align: center;
  color: black;
  font-size: 25px;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #FEBD18;
  margin: 10px;
}
.section p{
  margin: 10px;
  font-size: 18px;
  color: white;
}
.section label{
  display: block;
}


/* nested grid for review form*/
.box{
  display: grid;

  padding-left: 20px;
  padding-right: 30px;

}

.box h2{
  text-align: center;
  color: black;
  font-size: 25px;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  padding: 2px;
  background-color: #FEBD18;
  margin: 10px;

}
.box p{
  font-size: 17px;
  color: white;
}

.box label{
  display: block;
}
/* .box p{
  margin: 2;
} */

.box button{
  background-color:#FEBD18;
  transition-duration: 0.4s;
}

.alert {
  text-align: center;
  padding: 10px;
  background:#FEBD18;
  color: black;
  margin-bottom: 10px;
  display: none;
  border-radius: 10px;
}

.box button, .box input, .box textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #FEBD18;
  border-radius: 10px;
}
.box button:hover  {
  background-color: #ffe9b3;
}
