body{
margin: 10px;
padding: 0;
background: #922247;
font-family: quatro;
}

.header h1{
  position: relative;
  margin-left: 30px;
  margin-top: 80px;
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
}
.header h2{
  text-align: right;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.header p{
  position: relative;
  margin-left: 40px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  margin-top: -20px;
}

.header img{
  text-align: right;
  float: right;
  width: 100px;
  height: 125px;
  padding-right: 50px;
  margin-top: -10px;
}
.grid{
  display: grid;
  height: 1000px;
  width: auto;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 40% 60%;

}

.box{
  display: grid;
  padding: 10px;
  padding-left: -20px;
  padding-right: 30px; 
}

.box h2{
  text-align: center;
  color: black;
  font-size: 25px;
  border: 2px #FEBD18 solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #FEBD18;


}
.box p{
  font-size: 20px;
  color: white;
}

.box label{
  display: block;
}
.box p{
  margin: 2;
}

.box button{
  background-color:#FEBD18 ;
}
.box button, .box input, .box textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #FEBD18;
  border-radius: 10px;
}
