body{
margin: 10px;
padding: 0;
background: #922247;
font-family: quatro;
}
.header h1{
  color: white;
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  margin-left: -50px;
  margin-top: 80px;
}

.header img{
  float: left;
  width: 50px;
  height: 145px;
  padding-right: 50px;
  margin-top: -100px;
}

.info h2{
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
  margin-left: 20px;
  margin-top: 80px;
}

.info p{
  margin: 10px;
  font-size: 18px;
  color: white;
  margin-left: 40px;
}

.topics h2{
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
  margin-left: 20px;
  margin-top: 30px;
}

.topics p{
  margin: 10px;
  font-size: 18px;
  color: white;
  margin-left: 40px;
}

.purpose h2{
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
  margin-left: 20px;
  margin-top: 30px;
}

.purpose p{
  margin: 10px;
  font-size: 18px;
  color: white;
  margin-left: 40px;
}

.site h2{
  color: white;
  text-align: left;
  font-size: 40px
  font-weight: 700;
  margin-left: 20px;
  margin-top: 30px;
}

.site p{
  margin: 10px;
  font-size: 18px;
  color: white;
  margin-left: 40px;
}

a{
  color: white;
}

a:hover{
  color: blue;
}
