body{
  margin: 0;
  padding: 0;
  background: #922247;

}
.header h1{
  text-align: right;
  color: white;
  font-family: "Lucida Console", Georgia, Times;
  margin-right: 200px;
  margin-top: 25px;
}
.header p{
  text-align: right;
  color: white;
  margin-right: 200px;

}
.backimage img{
  width: 1900px;
  margin-top: -120px;
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: white;

}

.search-btn{
  color: #FEBD18;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;

}
